input{
    margin: 10px;
}
#sub{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
#result,#result_2{
    border-radius: 40px;
    border: 1px solid black;
    margin: 20px;
    width: 50%;

}
#result{
    background-color: aqua;
}
#result_2{
    background-color: coral;

}